body {
  background-image: url(../images/stars.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  left: 0px;
  top: 0px;
  max-width: 100%;
  max-height: 100%;
  z-index: 2;
  margin: 0;
}




header {
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  position: fixed;
  background: #050505;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  z-index: 100;
}

header.gray {
  background: rgb( 61, 61, 61 );
}


#main {
  background-color: none;
  min-height: calc(100vh - 50px)
}

.logout {
  background-repeat: no-repeat;
  float: right;
  margin-top: 15px;
  width: 40px;
  height: 50px;
  left: 5px;
}



.logo {
  background-repeat: no-repeat;
  float: left;
  margin-top: 15px;
  margin-left: 35%;
  margin-right: 20%
  padding: 15px;
  width :113px;
  height: 31px;
}








.storycontainer {
  border-radius: 10px;
  background-color: rgb( 214, 214, 214 );
  opacity: 0.851;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 5px;
  /*overflow: auto;*/
  top: 100px;
  left: 50%;
  right:50%;
  min-width: 288px;
  max-height: 100%;
  z-index: 5;
}

/*.title {
  text-overflow: ellipsis;
}*/

 h1 {
  font-size: 18px;
  font-size: 4vw;
  font-family: "Century Gothic";
  color: rgb( 51, 49, 49 );
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  /*left: 98px;*/
  top: 133px;
  width: 250px;
  height: 15px;
  z-index: 18;
}

 h2 {
  font-size: 9px;
  font-family: "Century Gothic";
  color: rgb( 51, 49, 49 );
  font-weight: bold;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 2px;
  float: left;
  z-index: 19;
}



#datetimecontainer {
  white-space: pre-wrap;
  line-height: 10px;
  position: relative;
  margin-top: -20px;
  min-width: 288px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#optioncontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}


#editbutton {
  background-image: url(../images/editbutton.png);
  background-repeat: no-repeat;
  float: left;
  margin-top: -10px;
  margin-left: 8px;
  margin-right: 8px;
  width: 20px;
  height: 20px;
}

#deletebutton {
  background-image: url(../images/deletebutton.png);
  background-repeat: no-repeat;
  float: right;
  margin-top: -10px;
  margin-left: 8px;
  margin-right: 8px;
  width: 20px;
  height: 20px;
}

#sharebutton {
  background-image: url(../images/sharebutton.png);
  background-repeat: no-repeat;
  float: right;
  margin-top: -10px;
  margin-left: 8px;
  margin-right: 8px;
  width: 20px;
  height:20px;
}





#footer {
  background-color: #050505;
  position: fixed;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0px;
  right: 0px;
  bottom: 0px;
  max-width: 100%;
  height: 60px;
  z-index: 3;
}


.container {
  display: flex;
  flex-wrap: wrap;
}




.search {
  background-image: url(../images/search.png);
  background-repeat: no-repeat;
  margin-top: 1px;
  margin-left: 25px;
  margin-right: 25px;
  width: 48px;
  height: 48px;
}

.share {
  background-image: url(../images/share.png);
  background-repeat: no-repeat;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 1px;
  width: 48px;
  height: 48px;
}


.planner {
  background-image: url(../images/planner.png);
  background-repeat: no-repeat;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 1px;
  width: 48px;
  height: 48px;
}

.add {
  background-image: url(../images/add.png);
  background-repeat: no-repeat;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 1px;
  width: 48px;
  height: 48px;
}






/*drop down*/

/*.settings {
  background-image: url(../images/settings.png);
  background-repeat: no-repeat;
  float: right;
  width : 50px;
  height: 50px;
  margin-top: 5px;
  margin-right: 10px;
  right: 5px;
}


.dropdown {
    position: absolute;
    display: inline-block;
   
}

.dropdown-content {
    display: none;
    position: relative;
    float: right;
    background-color: #f1f1f1;
    min-width: 100px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
*/